.project-accordion {
    margin-top: 4rem;

    button {
        font-family: 'Cabin', sans-serif;
        font-size: 1.5rem;
        font-weight: map-get($font-weight, bold);
        color: black;
    }
}

/* Styles the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 1.125rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid $color2;
    
    /* To align and space out title and + button */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Adds a background color to the button if it is clicked on and when hovering over it */
.active, .accordion:hover {
    // background-color: #ccc;
    background-color: $color2;
}
  
/* Styles the accordion panel (hidden by default) */
.panel {
    padding: 0 1.125rem;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion {
    &:after {
        content: '\02795'; /* Unicode character for "+" sign */
        font-size: 0.8125rem;
        color: black;
        float: right;
        margin-left: 0.3125rem;
    }
}
  
.active {
    &:after {
        content: "\2796"; /* Unicode character for "-" sign */
    }
}