@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');

.container {
	background: $darkblue;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.shape-blob {
	background: #f7bbb0;
	height: 12.5rem;
	width: 12.5rem;
	border-radius: 30% 50% 20% 40%;
  	animation: 
		transform 20s ease-in-out infinite both alternate,
		movement_one 40s ease-in-out infinite both;
	opacity:.7;
	position: absolute;
	left: 70%;
	top: 50%;
}
.shape-blob.one {
	height: 31.25rem;
	width: 31.25rem;
	left: -12.5rem;
	top: -9.375rem;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

.shape-blob.two {
	height: 21.875rem;
	width: 21.875rem;
	left: 31.25rem;
	top: -9.375rem;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

@keyframes transform {
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; } 
}


@keyframes movement_one {
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1.2); }
}

@keyframes movement_two {
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.2);}
}

.banner-heading {
	font-family: 'Playfair Display', serif;
    font-size: 2em;
	letter-spacing: 2px;
	font-weight: 900;
	color: white;
	line-height: .9em;
	position: relative;
	z-index: 4;
	text-shadow: 2px 3px 15px rgba(0,0,0,.15);
}

@media (min-width: map-get($breakpoint, tablet)) {
	.banner-heading {
		font-size: 3em;
	}
}

/* Scroll down arrow animation */
.arrow-container {
	position: absolute;
	bottom: 0;
	margin: 0 0 4rem 3.75rem;
}

@media (min-width: map-get($breakpoint, tablet)) {
	.arrow-container {
		margin-bottom: 16px;
	}
}
  
.chevron {
	// position: absolute;
	width: 1.75rem;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: ' ';
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	background: #fff;
}

.chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
}
  
@keyframes move {
	25% {
		opacity: 1;

	}
	33% {
		opacity: 1;
		transform: translateY(30px);
	}
	67% {
		opacity: 1;
		transform: translateY(40px);
	}
	100% {
		opacity: 0;
		transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}
  
.text {
	display: block;
	margin-left: -1.875rem;
	font-size: 0.75rem;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
	opacity: .25;
	animation: pulse 2s linear alternate infinite;

	p {
		margin-top: 4rem;
	}
}
  
@keyframes pulse {
	to {
		opacity: 1;
	}
}
