html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    background-color: $white;
    font-family: 'Raleway', sans-serif;
}

.parallax {
    /* Placeholder background image */
    background-image: url(../bg-1.jpeg);
    height: 100%;
    /* Creates the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

section {
    margin: 2.5rem 0;
}

article {
    // height: 12.5rem;
    padding: 2rem;
    margin: 1rem auto;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    transition: transform .2s; /* animation */
    max-width: 500px; /* might need to change value */
    
    &:hover {
        transform: scale(1.1); /* (1.1=110% zoom - if the zoom is too large, it will go outside of the viewport) */
    }
}