html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
    // margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
}

h1 {
    padding-top: 3.4375rem; /* to offset header height */
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    font-weight: map-get($font-weight, light);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

figcaption {
    margin-bottom: 2rem;
    font-size: 0.875rem;
    text-align: center;
    color: #5e5e5e;
}

img {
    display: flex;
    margin: 0 auto;
}