footer {
    background-color: grey;
    color: white;
    padding: 1rem 1.5rem 3.4375rem; /* last value matches height of fixed header in mobile mode */
    margin: 0 auto;

    .social-links {
        margin: 1rem 0;

        a {
            margin-right: 0.5rem;
            fill: white;
        }   
    }
}

@media (min-width: map-get($breakpoint, tablet)) {
    footer {
        padding: 1rem 1.5rem;
    }
}
