footer {
    padding: 1rem 1.5rem 4.5rem; /* last value matches height of fixed header in mobile mode */
    margin: 0 auto;
    background-color: #6A79D6;
    color: white;
    text-align: center;

    .social-links {
        margin: 1rem 0;

        a {
            margin-right: 0.5rem;
            fill: white;

            &:hover {
                fill: $color3;
            }
        }   
    }
}

@media (min-width: map-get($breakpoint, tablet)) {
    footer {
        padding: 4rem 1.5rem;
    }
}
