nav {
    ul {
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li {
            list-style: none;
        }
    }
}

@media (min-width: map-get($breakpoint, tablet)) {
    nav {
        ul {
            justify-content: flex-end;

            li {
                padding: 0 1rem;
            }
        }
    }
}