/* Styles for individual project pages */

@media (min-width: map-get($breakpoint, desktop)) {
    .individual-project {
        display: grid;
        // grid-template-rows: 800px 1fr;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 2.5rem;
    }

    .individual-hero {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .project-details {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .project-accordion {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .projects-button {
        grid-row: 3/4;
        grid-column: 2/3;
    }
}

/* Hero/page banner images */
.individual-hero {
    img {
        width: 100%;
        max-width: 1024px;
        margin-top: 1.5rem;
    }
}

@media (min-width: map-get($breakpoint, tablet)) {
    .individual-hero {
        img {
            margin-top: 3.4375rem; /* to account for header height */
        }
    }

    .individual-project {
        h2 {
            padding-top: 1.5rem;
        }
    }
}

/* External links (e.g. GitHub, live demo) */
.external-links {
    a {
        max-width: 200px; /* adjust value */
        padding: 0.75rem;
        margin: 0.5rem auto;
        display: flex;
        justify-content: center;
        background-color: grey;
        color: white;
        border-radius: 20px;
    }
}

@media (min-width: 550px) {
    .external-links {
        max-width: 500px; /* adjust value */
        margin: 0 auto;
        display: flex;

        a {
            width: 100%;
        }
    }
}

/* Back to projects CTA button */
.back-to-projects {
    max-width: 200px; /* adjust value */
    padding: 0.75rem;
    margin: 0.5rem auto 1rem;
    display: flex;
    justify-content: center;
    background-color: grey;
    color: white;
    border-radius: 20px;
}

/* Project logos with a black background */
.logo-black {
    @include logo-container;
    background-color: black;
}

/* Project logos with a white background */
.logo-white {
    @include logo-container;
    background-color: white;
}

/* Design and development tools */
.tools {

    h3 {
        text-align: center;
    }

    .tool-icons {
        display: flex;
        justify-content: center;
    
        img {
            margin: 0 0.5rem;
        }
    }
}

/* Project mockup cards */
.project-mockup {
    padding: 1rem 0;
    border-radius: 32px;
}