@mixin more-button {
    padding: 0.5rem 1rem;
    display: block;
    background-color: grey;
    border-radius: 20px;
    color: white;
    text-align: center;
}

@mixin logo-container {
    width: 7.8125rem;
    padding: 1rem;
    border-radius: 1.25rem;
    box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
}