/* Font Variables */
$heading-font: 'Cabin', sans-serif;
$body-font: 'Raleway', sans-serif;

$font-weight: (
    light: 300,
    regular: 400,
    bold: 700
);

/* Color Variables */
$pink: #faa996;

$green: #617759;
$lightblue: #93A3B9;
$darkblue: #132838;
$blush: #E0C4BD;
$beige: #E0DBD4;

/* Responsive Breakpoints */
$breakpoint: (
    mobile: 30rem, /* 480px */
    tablet: 48rem, /* 768px */
    laptop: 64rem, /* 1024px */
    desktop: 75rem /* 1200px */
);

/* Page Wrapper */
$wrapper: 64rem;
$wrapper-large: 112.5rem;