/* Font Variables */
$heading-font: 'Cabin', sans-serif;
$body-font: 'Raleway', sans-serif;

$font-weight: (
    light: 300,
    regular: 400,
    bold: 700
);

/* Color Variables */
$color1: #2561E2;
$color2: #F3AEB9;
$color3: #F25B3C;
$color4: #f8f1ec;
$color5: #eba1ad;

/* Responsive Breakpoints */
$breakpoint: (
    mobile: 30rem, /* 480px */
    tablet: 48rem, /* 768px */
    laptop: 64rem, /* 1024px */
    desktop: 75rem /* 1200px */
);

/* Page Wrapper */
$wrapper: 64rem;
$wrapper-large: 112.5rem;