/* Font Variables */
$heading-font: 'Cabin', sans-serif;
$body-font: 'Raleway', sans-serif;

$font-weight: (
    light: 300,
    regular: 400,
    bold: 700
);

/* Color Variables */
// $pink: #ffd2c5;
$pink: #faa996;
$white: #f5f0ed;
$orange: #d16f56;
$rose: #d0826c;
$sage: #bbb8a5;
$burgundy: #874f3e;

$color1: #999b84;
$color2: #f4eeed;
$color3: #efd9d1;
$color4: #ddb7ab;

$color5: #617759;
$color6: #93A3B9;
$color7: #132838;
$color8: #E0C4BD;
$color9: #E0DBD4;

/* Responsive Breakpoints */
$breakpoint: (
    mobile: 480px,
    tablet: 768px,
    laptop: 1024px,
    desktop: 1200px
);