.site-wrapper {
    max-width: map-get($breakpoint, laptop);
    padding: 0 1.5rem;
    margin: 0 auto;
}

@media (min-width: map-get($breakpoint, tablet)) {
    .site-wrapper {
        padding: 0 2.5rem;
    }
}

/* Site wrapper on individual project pages */
@media (min-width: map-get($breakpoint, laptop)) {
    .individual-wrapper {
        max-width: 1400px; /* might need to change value */
    }
}